apiVersion: v1
kind: Service
metadata:
  name: M14-payout-settlement-service
spec:
  selector:
    app: M14-payout-settlement-service
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 9090
      targetPort: 9090
