apiVersion: v1
kind: Service
metadata:
  name: M06-media-processing-pipeline
spec:
  selector:
    app: M06-media-processing-pipeline
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 9090
      targetPort: 9090
