apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: m18-cache-state-management
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: m18-cache-state-management
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70

