apiVersion: v1
kind: Service
metadata:
  name: M18-cache-state-management
spec:
  selector:
    app: M18-cache-state-management
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 9090
      targetPort: 9090
