apiVersion: v1
kind: Service
metadata:
  name: M16-api-gateway-rate-limiting
spec:
  selector:
    app: M16-api-gateway-rate-limiting
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 9090
      targetPort: 9090
