services:
  m45-community-service:
    build:
      context: ../../services/integrations/M45-community-service
      dockerfile: Dockerfile
    env_file:
      - ../../.env.example
    networks: [mesh]
networks:
  mesh: {}
