apiVersion: v1
kind: Service
metadata:
  name: M19-storage-lifecycle-management
spec:
  selector:
    app: M19-storage-lifecycle-management
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 9090
      targetPort: 9090
