services:
  m91-license-service:
    build:
      context: ../../services/trust-compliance/M91-license-service
      dockerfile: Dockerfile
    env_file:
      - ../../.env.example
    networks: [mesh]
networks:
  mesh: {}
