apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: M71-integration-hub
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: M71-integration-hub
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
