apiVersion: v1
kind: Service
metadata:
  name: m71-integration-hub
spec:
  selector:
    app: m71-integration-hub
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 9090
      targetPort: 9090

