apiVersion: v1
kind: Service
metadata:
  name: m58-content-recommendation-engine
spec:
  selector:
    app: m58-content-recommendation-engine
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 9090
      targetPort: 9090

