services:
  m72-webhook-manager:
    build:
      context: ../../services/integrations/M72-webhook-manager
      dockerfile: Dockerfile
    env_file:
      - ../../.env.example
    networks: [mesh]
networks:
  mesh: {}
