apiVersion: v1
kind: Service
metadata:
  name: M39-finance-service
spec:
  selector:
    app: M39-finance-service
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 9090
      targetPort: 9090
