apiVersion: v1
kind: Service
metadata:
  name: M25-auto-clipping-ai
spec:
  selector:
    app: M25-auto-clipping-ai
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 9090
      targetPort: 9090
