services:
  m80-tracing-service:
    build:
      context: ../../services/platform-ops/M80-tracing-service
      dockerfile: Dockerfile
    env_file:
      - ../../.env.example
    networks: [mesh]
networks:
  mesh: {}
