apiVersion: v1
kind: Service
metadata:
  name: M17-observability-monitoring
spec:
  selector:
    app: M17-observability-monitoring
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 9090
      targetPort: 9090
