apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: m16-api-gateway-rate-limiting
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: m16-api-gateway-rate-limiting
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
