apiVersion: v1
kind: Service
metadata:
  name: M44-resolution-center
spec:
  selector:
    app: M44-resolution-center
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 9090
      targetPort: 9090
