apiVersion: v1
kind: Service
metadata:
  name: m50-consent-service
spec:
  selector:
    app: m50-consent-service
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 9090
      targetPort: 9090

