apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: m38-content-license-verification
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: m38-content-license-verification
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
