apiVersion: v1
kind: Service
metadata:
  name: m38-content-license-verification
spec:
  selector:
    app: m38-content-license-verification
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 9090
      targetPort: 9090
