apiVersion: v1
kind: Service
metadata:
  name: M72-webhook-manager
spec:
  selector:
    app: M72-webhook-manager
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 9090
      targetPort: 9090
