services:
  m30-social-integration-service:
    build:
      context: ../../services/integrations/M30-social-integration-service
      dockerfile: Dockerfile
    env_file:
      - ../../.env.example
    networks: [mesh]
networks:
  mesh: {}
