apiVersion: v1
kind: Service
metadata:
  name: M56-predictive-analytics
spec:
  selector:
    app: M56-predictive-analytics
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 9090
      targetPort: 9090
