services:
  m10-social-integration-verification-service:
    build:
      context: ../../services/integrations/M10-social-integration-verification-service
      dockerfile: Dockerfile
    env_file:
      - ../../.env.example
    networks: [mesh]
networks:
  mesh: {}
