services:
  M10-social-integration-verification-service:
    build:
      context: ../..
      dockerfile: Dockerfile
    env_file:
      - ../../../.env.example
    networks: [mesh]
networks:
  mesh: {}
