apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: m89-affiliate-service
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: m89-affiliate-service
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
