services:
  m89-affiliate-service:
    build:
      context: ../../services/integrations/M89-affiliate-service
      dockerfile: Dockerfile
    env_file:
      - ../../.env.example
    networks: [mesh]
networks:
  mesh: {}
