apiVersion: v1
kind: Service
metadata:
  name: m41-reward-engine
spec:
  selector:
    app: m41-reward-engine
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 9090
      targetPort: 9090
