services:
  m01-authentication-service-api:
    build:
      context: ../../../../..
      dockerfile: services/core-platform/M01-authentication-service/Dockerfile
    ports:
      - "8080:8080"
      - "9090:9090"
    env_file:
      - ../../../../../.env.example
    environment:
      DB_URL: ${POSTGRES_URL}
      REDIS_URL: ${REDIS_URL}
      HTTP_PORT: 8080
      GRPC_PORT: 9090
      JWT_ALLOW_EPHEMERAL: "true"
    command: ["/out/api"]
    networks: [mesh]

  m01-authentication-service-worker:
    build:
      context: ../../../../..
      dockerfile: services/core-platform/M01-authentication-service/Dockerfile
    env_file:
      - ../../../../../.env.example
    environment:
      DB_URL: ${POSTGRES_URL}
      REDIS_URL: ${REDIS_URL}
      HTTP_PORT: 8080
      GRPC_PORT: 9090
      JWT_ALLOW_EPHEMERAL: "true"
    command: ["/out/worker"]
    networks: [mesh]
networks:
  mesh: {}

