services:
  m67-event-bus:
    build:
      context: ../../services/platform-ops/M67-event-bus
      dockerfile: Dockerfile
    env_file:
      - ../../.env.example
    networks: [mesh]
networks:
  mesh: {}
