services:
  m78-logging-service:
    build:
      context: ../../services/platform-ops/M78-logging-service
      dockerfile: Dockerfile
    env_file:
      - ../../.env.example
    networks: [mesh]
networks:
  mesh: {}
