services:
  m52-delivery-service:
    build:
      context: ../../services/integrations/M52-delivery-service
      dockerfile: Dockerfile
    env_file:
      - ../../.env.example
    networks: [mesh]
networks:
  mesh: {}
