services:
  m13-escrow-ledger-service:
    build:
      context: ../../services/financial-rails/M13-escrow-ledger-service
      dockerfile: Dockerfile
    env_file:
      - ../../.env.example
    networks: [mesh]
networks:
  mesh: {}
