apiVersion: v1
kind: Service
metadata:
  name: m67-event-bus
spec:
  selector:
    app: m67-event-bus
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 9090
      targetPort: 9090
