apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: m01-authentication-service
  labels:
    app.kubernetes.io/name: m01-authentication-service
    app.kubernetes.io/component: api
    app.kubernetes.io/part-of: mesh
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: m01-authentication-service
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70

