apiVersion: v1
kind: Service
metadata:
  name: m13-escrow-ledger-service
spec:
  selector:
    app: m13-escrow-ledger-service
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 9090
      targetPort: 9090

