services:
  m97-team-service:
    build:
      context: ../../services/core-platform/M97-team-service
      dockerfile: Dockerfile
    env_file:
      - ../../.env.example
    networks: [mesh]
networks:
  mesh: {}
