apiVersion: v1
kind: Service
metadata:
  name: M11-distribution-tracking-service
spec:
  selector:
    app: M11-distribution-tracking-service
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 9090
      targetPort: 9090
