services:
  m71-integration-hub:
    build:
      context: ../../services/integrations/M71-integration-hub
      dockerfile: Dockerfile
    env_file:
      - ../../.env.example
    networks: [mesh]
networks:
  mesh: {}
