services:
  m84-data-migration-service:
    build:
      context: ../../services/platform-ops/M84-data-migration-service
      dockerfile: Dockerfile
    env_file:
      - ../../.env.example
    networks: [mesh]
networks:
  mesh: {}
