services:
  m73-support-service:
    build:
      context: ../../services/integrations/M73-support-service
      dockerfile: Dockerfile
    env_file:
      - ../../.env.example
    networks: [mesh]
networks:
  mesh: {}
