services:
  m83-cdn-management-service:
    build:
      context: ../../services/platform-ops/M83-cdn-management-service
      dockerfile: Dockerfile
    env_file:
      - ../../.env.example
    networks: [mesh]
networks:
  mesh: {}
