services:
  m11-distribution-tracking-service:
    build:
      context: ../../services/integrations/M11-distribution-tracking-service
      dockerfile: Dockerfile
    env_file:
      - ../../.env.example
    networks: [mesh]
networks:
  mesh: {}
