apiVersion: v1
kind: Service
metadata:
  name: m70-developer-portal
spec:
  selector:
    app: m70-developer-portal
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 9090
      targetPort: 9090
